<div class="container">

    {{#each article}}
    <div id="{{_id}}" class="article">
        <img src="{{pic}}" alt="Picture" class="pic">
        <a href="{{link}}" class="title">{{title}}</a>
        <button class="saveArticle" data-id="{{_id}}" data-saved="{{saved}}">Unsave Article</button>
        <button class="noteButton" data-id="{{_id}}">Notes</button>
    </div>
    {{/each}}

</div>


<div id="notes" hidden></div>